language: node_js
node_js:
- '8'
jobs:
  include:
  - stage: test
    script: npm run test
  - stage: build
    script: npm run build
  - stage: deploy
    script: skip
    deploy:
      provider: heroku
      api_key: $HEROKU_API_KEY
      app: cherrypieapp
    deploy:
      provider: surge
      project: ./dist/
      domain: cherrypie.surge.sh
      skip_cleanup: true

